.header {
  background-color: #beffa7;
  .headerLogo {
    width: 40px;
    height: 41px;
  }
  .headerLink {
    margin-left: 25px;
    text-decoration: none;
    font-family: "Faustina";
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #808080;
  }
  .headerLinkIcon {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .menuDropdown {
    inset: 34px auto auto -65px !important;
  }
}
.body {
  .bodyTitle {
    margin-top: 18px;
    margin-bottom: 25px;
    h4 {
      font-family: "Faustina";
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      text-align: center;
      color: #808080;
      margin: 0;
    }
  }
  .title {
    display: block;
    background-color: #fff;
    position: absolute;
    left: 33px;
    top: -17px;
    font-family: "Faustina";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 0;
    z-index: 10;
  }
  .bodyTask {
    border: 1px solid #000000;
    border-radius: 20px;
    height: 400px;
    overflow-y: scroll;
    .task {
      margin: 20px;
      padding-bottom: 10px;
      h4 {
        font-family: "Faustina";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #333;
        margin: 0;
        margin-bottom: 10px;
      }
      .taskContent {
        flex: 1;
        p {
          margin-bottom: 10px;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      margin-bottom: 15px;
      text-decoration: none;
      p {
        color: #05ff00;
        font-size: 20px;
        margin: 0;
      }
    }
  }
  .calendar {
    width: 360px;
    margin: 0 auto;
  }
}
